<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tech Talk</title>
  <link rel="stylesheet" href="/css/jass.css">
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
  <div class="container">
    <header >
      <nav class="display-flex justify-space-between align-center">
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/dashboard">Dashboard</a></li>
          <!-- Conditionally render login or logout links -->
          {{#if logged_in}}
            <li id="logout" style="font-size:17px; color:white;">LOGOUT</li>
          {{else}}
            <li><a href="/login">login</a></li>
          {{/if}}
        </ul>
      </nav>
    </header>
    <main>
      <p>{{logged_in}}
      <!-- Render the sub layout -->
      {{{ body }}}
    </main>
    <footer>
      
    </footer>
  </div>

  <!-- Render script for logged in users only -->
  {{#if logged_in}}
  <script src="/js/logout.js"></script>
  {{/if}}
</body>

</html>
