<div style="background-color: var(--dark); width: 100%; padding: 20px 0px; margin-bottom: 15px">
  <h2 class="tech-brand">Your Dashboard</h2>
</div>

<!-- Show only the article title, which is a link to a page for editing that article/post -->
{{#if articles.length}}
  {{#each articles as |article|}}
        <h4 class="article-button"><a href="/editarticle/{{article.id}}">{{article.title}}</a></h4>
    {{/each}}
{{/if}}

<div>
  <a href="/newarticle"><button class="btn btn-lg" type="button">+ New Post</button></a>
  <!-- <button class="btn btn-lg" id="new-post" type="button">+ New Post</button> -->
</div>

<!-- <script src="./js/dashboard.js"></script> -->
