<div style="background-color: var(--dark); width: 100%; padding: 20px 0px;">
  <h2 class="tech-brand">The Tech Blog</h2>
</div>

{{#if articles.length}}
    <!-- Loop over each object in the articles array -->
  {{#each articles as |article| }}
    <div class="card">
      <div class="card-header">
        <h3 style="color: #ccdad1; display: inline;">{{title}}</h3>
        <div style="float:right; display: inline;">
          <h4 style="color: var(--primary)">Posted by {{user.name}}  {{format_date date_created}})</h4>
        </div>
      </div>
      <div class="card-body">
        {{text}}
      </div>
    </div>
  {{/each}}
{{/if}}
