<div style="background-color: var(--dark); width: 100%; padding: 20px 0px; margin-bottom: 15px">
  <h2 class="tech-brand">The Tech Blog</h2>
</div>

<div class="card">
  <div class="card-header">
    <h2>Login</h2>

    <form class="form login-form">
      <label for="loginform-label">Username</label>
      <input class="loginform-input" type="text" id="name-login" />

      <label for="loginform-label">Password</label>
      <input class="loginform-input" type="password" id="password-login" />

      <button class="btn btn-primary" type="submit">Login!</button>
    </form>
  </div>
</div>

<div>
  <h4 style="width: 300px; padding: 10px; "><a href="/signup" style="color: blue;">Sign up instead</a></h4>
</div>

<script src="./js/login.js"></script>
