<!-- newarticle.hbs -->
<!-- User click on an New Article button in in dashboard.hbs to get here -->
<!-- Show title and content, both are editable, and 1 buttons, Create -->
<!-- Card title should say Create New Article -->
<div style="background-color: var(--dark); width: 100%; padding: 20px 0px; margin-bottom: 15px">
  <h2 class="tech-brand">Your Dashboard</h2>
</div>


  <div class="card">
    <div class="card-header">
        <h3 style="color: var(--primary)">Create New Article</h3>
    </div>
    <div class="card-body">
      <form>
        <label class="form-label" for="new-title">Title</label>
        <input class="form-input" value="{{title}}" type="text" id="new-title" />

        <label class="form-label" for="new-text">Content</label>
        <textarea class="form-textarea" id="new-text">{{text}}</textarea>

        <button class="btn btn-primary new-article" style="padding:15px 20px; margin-bottom: 20px;" type="button">Create</button>
      </form>
    </div>
  </div>

</div>
<script src="./js/newarticle.js"></script>