<!-- addarticle.hbs -->
<!-- User click on an New Article button in in dashboard.hbs to get here -->
<!-- Show title and content, both are editable, and 2 buttons, update and delete -->
<!-- Card title should say Create New Article -->
<container>
    <h3>Create New Post:</h3>

    <form class="form new-article-form">
      <div class="form-group">
        <label for="article-title">article title:</label>
        <input class="form-input" type="text" id="article-title" name="article-title" />
      </div>
      <div class="form-group">
        <label for="article-text">description:</label>
        <textarea class="form-input" id="article-text" name="article-text"></textarea>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary">Create</button>
      </div>
    </form>

</container>
