<div style="background-color: var(--dark); width: 100%; padding: 20px 0px; margin-bottom: 15px">
  <h2 class="tech-brand">The Tech Blog</h2>
</div>

<div class="card">
  <div class="card-header">
    <h2 style="color: var(--primary);">Sign Up</h2>
  </div>

  <div class="card-body">
    <form class="form signup-form">
      <label for="name-signup" class="form-label">Username</label>
      <input class="form-input" type="text" id="name-signup">

      <label for="password-signup" class="form-label">Password (must be 6 characters or more)</label>
      <input class="form-input" type="password" id="password-signup">

      <button class="btn btn-primary" style="padding: 10px 0px; margin-top: 15px" type="submit">Sign up!</button>
    </form>
    <h4 style="width: 300px; padding: 10px; "><a href="/login" style="color: blue;">Login instead</a></h4>
  </div>
</div>

<script src="./js/signup.js"></script>